@-webkit-keyframes cronus-float-menu-in {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 20px;
  }
}
@-moz-keyframes cronus-float-menu-in {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 20px;
  }
}
@-o-keyframes cronus-float-menu-in {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 20px;
  }
}
@keyframes cronus-float-menu-in {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 20px;
  }
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form button[type="submit"] {
  padding: 9px;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation {
  background-color: #2a3b4d;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation ul li a {
  color: #8a95a6;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation ul li.current-menu-item > a {
  background-color: #36d678;
  color: #ffffff;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form {
  background-color: #1c2633;
  border: none;
  padding: 0px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form fieldset {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form input[type="text"] {
  color: rgba(255, 255, 255, 0.7);
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form input[type="text"]:focus,
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form input[type="text"]:active,
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form input[type="text"]:focus:active {
  color: #ffffff;
}
header.tempo-header nav ul li a {
  color: #8a95a6;
}
header.tempo-header nav ul li a:hover {
  color: #1c2633;
}
header.tempo-header nav ul li.current-menu-ancestor > a,
header.tempo-header nav ul li.current-menu-item > a,
header.tempo-header nav ul li:hover > a {
  color: #1c2633;
}
header.tempo-header nav button.tempo-btn-collapse {
  color: #8a95a6;
}
header.tempo-header nav button.tempo-btn-collapse:hover {
  color: #1c2633;
}
header.tempo-header div.tempo-topper {
  background-color: transparent;
  padding: 0px;
  position: absolute;
  z-index: 1;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-content button.tempo-btn-collapse {
  margin-top: 38px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media ( min-width: 1025px ) {
  header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-content button.tempo-btn-collapse {
    display: none;
  }
}
@media ( max-width: 1024px ) {
  header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-content button.tempo-btn-collapse {
    display: block;
  }
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper {
  margin: 35px -23px;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media ( min-width: 1025px ) {
  header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper {
    display: block;
  }
}
@media ( max-width: 1024px ) {
  header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper {
    display: none;
  }
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li {
  padding: 10px 23px;
  font-size: 13px;
  font-weight: normal;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li a {
  padding: 0px;
  font-weight: 300;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li > ul {
  margin-top: 20px;
  margin-left: -20px;
  -webkit-animation: cronus-float-menu-in 0.2s ease-out 1;
  -moz-animation: cronus-float-menu-in 0.2s ease-out 1;
  -ms-animation: cronus-float-menu-in 0.2s ease-out 1;
  -o-animation: cronus-float-menu-in 0.2s ease-out 1;
  animation: cronus-float-menu-in 0.2s ease-out 1;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li > ul > li:first-child {
  padding-left: 23px;
  margin-left: -23px;
  padding-top: 25px;
  margin-top: -25px;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li ul {
  padding-left: 23px;
  padding-right: 23px;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li ul li > ul {
  margin-left: 218px;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li ul li {
  padding: 0px 25px 0px 0px;
  margin-right: -25px;
  font-size: 13px;
  font-weight: normal;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li ul li a {
  padding-left: 0px;
  padding-right: 0px;
}
body.tempo-not-has-header header.tempo-header div.tempo-topper {
  position: relative;
}
body.tempo-has-header header.tempo-header nav ul.tempo-menu-list > li > a {
  color: #ffffff;
}
body.tempo-has-header header.tempo-header nav ul.tempo-menu-list > li > a:hover {
  color: #36d678;
}
body.tempo-has-header header.tempo-header nav ul.tempo-menu-list > li.current-menu-ancestor > a,
body.tempo-has-header header.tempo-header nav ul.tempo-menu-list > li.current-menu-item > a,
body.tempo-has-header header.tempo-header nav ul.tempo-menu-list > li:hover > a {
  color: #36d678;
}
body.tempo-has-header header.tempo-header nav button.tempo-btn-collapse {
  color: #ffffff;
}
body.tempo-has-header header.tempo-header nav button.tempo-btn-collapse:hover {
  color: #36d678;
}
