hr.tempo-meta-delimiter {
  height: 3px;
  width: 80px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background-color: #36d678;
}
article.tempo-article.classic div.tempo-meta.bottom div.tempo-terms {
  text-align: initial;
  margin: 0px -4px;
}
article.tempo-article.classic div.tempo-meta.bottom div.tempo-terms a {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  color: #8a95a6;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 4px 20px;
}
article.tempo-article.classic div.tempo-meta.bottom div.tempo-terms a:hover {
  background-color: #fafafa;
  border-color: #fafafa;
  color: #1c2633;
}
