a {
  color: #a483d6;
}
a:hover {
  color: #9073bc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2a3b4d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  border: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  border: none;
}
article.hentry .tempo-hentry {
  margin-top: 30px;
}
article.hentry .tempo-hentry:first-child {
  margin-top: 0px;
}
.hentry .tempo-hentry > *:first-child {
  margin-top: 0px;
}
.hentry hr {
  height: 1px;
}
.hentry h2 {
  font-weight: 400;
}
blockquote {
  font-weight: 400;
}
