/* These styles are used in the backend editor AND in the Theme (frontend) */
/* CSS is provided by the theme itself, and modified by any custom css you add to the theme. */
/* But that CSS is not active when using the backend-editor, so here is a good place to put  */
/* any custom css which should be active in the frontend website and also applied to editor. */
/* The goal is to make the visual editor display as like the final frontend view as possible */
/* so do not forget to configure the TinyMCE styles dropdown with elements to match these.   */
/* Suggested general non-tag-specific visual styles (for all websites) */
.list {
  margin: 0.35rem 0; }

.stdtop {
  margin-top: 0.65rem !important; }

.moretop {
  margin-top: 0.8rem !important; }

.lotstop {
  margin-top: 1rem !important; }

.hugetop {
  margin-top: 1.3rem !important; }

.stdbottom {
  margin-bottom: 0.65rem !important; }

.morebottom {
  margin-bottom: 0.8rem !important; }

.lotsbottom {
  margin-bottom: 1rem !important; }

.hugebottom {
  margin-bottom: 1.3rem !important; }

.topless {
  margin-top: 0 !important; }

.bottomless {
  margin-bottom: 0 !important; }

.beforelist {
  margin-bottom: 0.3rem; }

.lastitempx {
  padding-bottom: 12px !important; }

.lastitemem {
  margin-bottom: 0;
  padding-bottom: 1.3rem; }

strong, .strong, .fett, .bold, .smallBold, .smallerBold {
  font-weight: bold; }

/* Revert to normal text within strong */
.notstrong {
  font-weight: normal; }

.smaller, .smallerBold {
  font-size: 0.95rem;
  line-height: 1.25; }

.small, .smallBold {
  font-size: 0.89rem;
  line-height: 1.2; }

/* Append your site-specific styles here */
.col-lg-9 {
  width: 70%; }

.col-lg-3 {
  width: 30%; }

body, html {
  font-family: "Gotham SSm A", "Gotham SSm B"; }
  body hr, html hr {
    width: 100%;
    margin: 25px auto; }

aside.content.tempo-footer.light-sidebars {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  padding: 0; }

.textwidget img {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0; }

header.tempo-header div.tempo-header-partial img.style-svg {
  height: 100px;
  width: 100px; }

header.tempo-header div.tempo-header-partial div.tempo-header-btns-wrapper a.tempo-btn.btn-1 {
  background: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

article.tempo-article.grid div.tempo-content h3.tempo-title a {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-size: 17pt;
  font-weight: 800; }

article.tempo-article.grid div.tempo-content h3.tempo-title::before {
  display: none; }

div.col-lg-4 article.tempo-article.grid div.tempo-content h3.tempo-title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

div.col-lg-4 article.tempo-article.grid div.tempo-content p {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 200;
  font-size: 11pt;
  line-height: 26px; }

header.tempo-header div.tempo-header-partial .tempo-header-headline, header.tempo-header div.tempo-header-partial .tempo-header-description {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 800;
  font-size: 90pt;
  color: white;
  margin: 0; }

header.tempo-header div.tempo-header-partial .tempo-header-description {
  margin-top: -30px; }

header.tempo-header div.tempo-header-partial .tempo-flex-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%); }

div.tempo-page section.tempo-content-layout.layout-right div.tempo-section-content {
  border-right: none; }

.tempo-header-headline {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 800;
  font-size: 70pt; }

.tempo-title {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 800;
  font-size: 50pt;
  color: #04bbef;
  margin: 0; }

article.hentry .tempo-hentry {
  margin-top: 0px !important; }

aside.sidebar-content-wrapper.layout-right div.sidebar-content {
  padding-left: 0; }

aside.sidebar-content-wrapper.layout-right.tempo-sidebar-layout.layout-right.col-sm-4.col-md-3.col-lg-3 {
  padding: 0; }

.panel-group .panel + .panel {
  margin-top: 0; }

.panel.panel-default {
  border: none;
  border-radius: 0;
  box-shadow: none; }
  .panel.panel-default .panel-heading {
    background-color: white;
    border: none;
    padding: 0;
    border-bottom: 1px solid #c7c5cb; }
    .panel.panel-default .panel-heading .panel-title {
      line-height: 45px; }
      .panel.panel-default .panel-heading .panel-title a {
        font-family: "Gotham SSm A", "Gotham SSm B";
        font-weight: 200;
        font-size: 14pt; }
  .panel.panel-default .panel-body {
    padding: 0; }
    .panel.panel-default .panel-body .ansprechpartner {
      background-color: #f2f4f7; }
      .panel.panel-default .panel-body .ansprechpartner img {
        float: left;
        margin: 15px 0 0 15px; }
      .panel.panel-default .panel-body .ansprechpartner .ansprechpartner-data {
        font-size: 10pt;
        padding: 15px 0 15px 103px;
        line-height: 1.5em;
        font-weight: 300; }
      .panel.panel-default .panel-body .ansprechpartner .clearfix {
        border-bottom: 1px solid #d8d6de; }

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: none; }

.kath_pf {
  margin-top: 0; }
  .kath_pf label {
    font-size: 9pt;
    font-weight: 300; }
    .kath_pf label span.kath_pf_required {
      position: absolute;
      font-size: 13pt;
      line-height: 0.7em;
      padding-left: 3px; }
  .kath_pf select {
    height: 40px; }
  .kath_pf select, .kath_pf textarea, .kath_pf input:not([type="submit"]):not([type="file"]):not([type="button"]):not([type="reset"]), .kath_pf input[type="tel"], .kath_pf input[type="url"], .kath_pf input[type="text"], .kath_pf input[type="email"], .kath_pf input[type="phone"], .kath_pf input[type="number"], .kath_pf input[type="password"] {
    padding: 7px 15px;
    border: 1px solid #c9c9c9;
    border-radius: 0; }
  .kath_pf select:focus, .kath_pf textarea:focus, .kath_pf input:focus:not([type="submit"]):not([type="file"]):not([type="button"]):not([type="reset"]), .kath_pf input[type="tel"]:focus, .kath_pf input[type="url"]:focus, .kath_pf input[type="text"]:focus, .kath_pf input[type="email"]:focus, .kath_pf input[type="phone"]:focus, .kath_pf input[type="number"]:focus, .kath_pf input[type="password"]:focus, .kath_pf select:active, .kath_pf textarea:active, .kath_pf input:active:not([type="submit"]):not([type="file"]):not([type="button"]):not([type="reset"]), .kath_pf input[type="tel"]:active, .kath_pf input[type="url"]:active, .kath_pf input[type="text"]:active, .kath_pf input[type="email"]:active, .kath_pf input[type="phone"]:active, .kath_pf input[type="number"]:active, .kath_pf input[type="password"]:active {
    border: 1px solid black; }
  .kath_pf .btn.btn-default {
    border-radius: 0; }
    .kath_pf .btn.btn-default:hover {
      background-color: #04bbef;
      border-color: #04bbef;
      color: white; }

.kath-star-text {
  font-weight: 200;
  font-size: 10pt;
  line-height: 1.5em; }

.hentry .tempo-hentry > :first-child.kath-subtitle, .kath-subtitle {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 200;
  font-size: 24pt;
  color: black; }

.hentry .tempo-hentry > p:first-child, .hentry .tempo-hentry > :first-child:not(p) + p.kath-intro-normal, .kath-intro-normal {
  font-size: 18pt;
  line-height: 1.4em;
  font-weight: 200;
  margin-top: 2px;
  margin-bottom: 25px;
  color: black; }

.hentry .tempo-hentry > p:first-child, .hentry .tempo-hentry > :first-child:not(p) + p.kath-intro-bold, .kath-intro-bold {
  font-size: 18pt;
  line-height: 1.4em;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 0;
  color: black; }

p.kath-interior {
  font-weight: 200;
  font-size: 15px;
  line-height: 1.8em;
  margin: 25px auto;
  color: black; }

article table {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-size: 10pt;
  font-weight: 200; }
  article table tbody tr td {
    padding: 4px 0;
    border: none; }
    article table tbody tr td:nth-child(2), article table tbody tr td:nth-child(4) {
      text-align: right; }
    article table tbody tr td:nth-child(2) {
      padding-right: 15px; }
    article table tbody tr td:nth-child(3) {
      padding-left: 15px; }

.hentry h4 {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-size: 11pt;
  font-weight: 600;
  line-height: 1.3em;
  color: black; }

.hentry h3 {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-size: 24px;
  font-weight: 800;
  color: #04bbef;
  margin-bottom: 15px; }
